<div class="setup" [hidden]="true">
  <h2>This is the parent component</h2>
  <input type="text" [(ngModel)]="name" /> <br /><br />
  <app-property-binding
    [myName]="name"
    (hobbiesChanged)="hobbies = $event"
  ></app-property-binding>
  <p>These are my hobbies</p>
  {{ hobbies }}
</div>

<div class="container">
  <app-binding1
    (submitted)="onSubmit($event)"
    [myself]="confirmedMyself"
  ></app-binding1>
</div>
<div class="container">
  <app-binding2
    (confirmed)="onConfirm($event)"
    [myself]="myself"
  ></app-binding2>
</div>
